.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 480px;
  margin: 60px;
}

.heading {
  font-size: 28px;
  font-weight: 400;
  color: #444;
  margin-bottom: 50px;
}

.subheading {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

.invalid {
  font-size: 14px;
  font-weight: 600;
  color: #E73737;
  letter-spacing: 0;
  margin-bottom: 24px
}

.label {
  display: block;
  font-weight: 400;
  font-size: 11px;
  color: #444;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: default;
}


.input {
  height: 50px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #CCC;
  outline: none;
  color: #666;
  font-size: 14px;
}

.input.active{
  border-color: rgb(41, 147, 252) !important;
}
.input:focus {
  border-color: rgb(41, 147, 252) !important;
}
.input::placeholder {
  color: #CCC;
}

.usernameField {
  composes: input;
  margin-bottom: 20px;
}

.passwordField {
  composes: input;
  margin-bottom: 30px;
}

.submitButton {
  border: none;
  background-color: #EB7231;
  color: white;
  border-radius: 30px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  outline: none;
  align-self: center;
}

.submitButton:hover {
  opacity: 0.9;
}

.submitButton:active {
  opacity: 0.95;
}

.submitButton:disabled {
  opacity: 0.9;
}


@media (max-width: 600px) {
  .loginForm{
    width: 95%;
  }
}